body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  text-align: center;
  background-color: whitesmoke;
  min-height: 100vh;
}

.app-header {
  font-size: 3rem;
  font-weight: 600;
  font-style: italic;
  padding-top: 5rem;
}

.chatbot-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
